.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px; 
  margin: 0 auto;
}

.field {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

input[type="date"] {
 
  width: calc(100% - 18px); 
}
