<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <div>
    <button
      (click)="redirecionarParaHome()"
      style="
        position: absolute;
        top: 10px;
        left: 10px;
        border: none;
        background-color: transparent;
      "
    >
      <button
        (click)="redirecionarParaCarrinho()"
        style="
          position: fixed;
          top: 10px;
          right: 10px;
          border: none;
          z-index: 9999;
        "
        pButton
        pRipple
        label=""
        class="p-button p-button-success"
      >
        <i class="pi pi-shopping-cart"></i>
      </button>

      <i
        class="pi pi-home"
        style="color: rgb(45, 10, 245); font-size: 25px"
      ></i>
    </button>
  </div>
  <div class="text-900 font-bold text-6xl mb-4 text-center">
    Conheça nosso cursos!
  </div>
  <div class="text-700 text-xl mb-6 text-center line-height-3">
    Desvende o futuro, unindo paixão e conhecimento em cada linha de código.
  </div>

  <div class="grid">
    <div class="col-12 lg:col-4">
      <div class="p-3 h-full">
        <div
          class="shadow-2 p-3 h-full flex flex-column surface-card"
          style="border-radius: 6px"
        >
          <div class="text-900 font-medium text-xl mb-2">
            CSS e HTML - Basico ao avançado
          </div>
          <div class="text-600">Descrição</div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
          <div class="flex align-items-center">
            <span class="font-bold text-2xl text-900">R$ 50,00</span>
          </div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
          <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Introdução ao Mundo do Design Web</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Construindo com Estrutura e Estilo</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900"
                >Explorando Recursos Avançados e Práticas Atuais</span
              >
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Desafie-se e Crie com Confiança</span>
            </li>
          </ul>
          <hr
            class="mb-3 mx-0 border-top-1 border-none surface-border mt-auto"
          />
          <button
            pButton
            pRipple
            label="Adicionar ao Carrinho"
            icon="pi pi-user"
            class="w-full"
            type="button"
            (click)="adicionarAoCarrinho(cursoCSS)"
          ></button>
        </div>
      </div>
    </div>

    <div class="col-12 lg:col-4">
      <div class="p-3 h-full">
        <div
          class="shadow-2 p-3 h-full flex flex-column surface-card"
          style="border-radius: 6px"
        >
          <div class="text-900 font-medium text-xl mb-2">JavasCript</div>
          <div class="text-600">Descrição</div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
          <div class="flex align-items-center">
            <span class="font-bold text-2xl text-900">$99,90</span>
          </div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
          <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Fundamentos do JavaScript</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900"
                >Manipulação do Documento com JavaScript (DOM)</span
              >
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Conceitos Avançados e Uso Prático</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900"
                >Desenvolvimento de Aplicações Interativas</span
              >
            </li>
          </ul>
          <hr class="mb-3 mx-0 border-top-1 border-none surface-border" />
          <button
            pButton
            pRipple
            label="Adicionar ao Carrinho"
            icon="pi pi-user"
            class="w-full"
            type="button"
            (click)="adicionarAoCarrinho(cursoJavaScript)"
          ></button>
        </div>
      </div>
    </div>

    <div class="col-12 lg:col-4">
      <div class="p-3 h-full">
        <div
          class="shadow-2 p-3 flex flex-column surface-card"
          style="border-radius: 6px"
        >
          <div class="text-900 font-medium text-xl mb-2">Angular</div>
          <div class="text-600">Descrição</div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
          <div class="flex align-items-center">
            <span class="font-bold text-2xl text-900">$49,90</span>
          </div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
          <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900"
                >Introdução ao Angular e Arquitetura de Componentes</span
              >
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Componentização e Dados Reativos</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Roteamento e Navegação</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900"
                >Serviços, HTTP e Gerenciamento de Estado</span
              >
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Testes e Qualidade de Código</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900"
                >Otimização e Implantação de Aplicações Angular</span
              >
            </li>
          </ul>
          <hr class="mb-3 mx-0 border-top-1 border-none surface-border" />
          <button
            pButton
            pRipple
            label="Adicionar ao Carrinho"
            icon="pi pi-user"
            class="w-full"
            type="button"
            (click)="adicionarAoCarrinho(cursoAngular)"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
